<table class="table table-dark container col-xs-12 col-sm-8 col-md-6 col-lg-4 col-xl-4 border shadow">
  <thead>
    <tr>
      <th><%= User.human_attribute_name("name") %></th>
      <th>Email</th>
      <th><%= User.human_attribute_name("created_at") %></th>
      <th><%= User.human_attribute_name("type") %></th>
    </tr>
    </thead>
<% @users.each do |f| %>
  <tbody>
    <tr>
      <td><%= f.name.capitalize %></td>
      <td><%= f.email%></td>
      <td><%= l(f.created_at).first(18) %></td>
      <td><%= t f.user_type %></td>
    </tr>
  </tbody>
<% end %>
</table>
