<!DOCTYPE html>
<html>
  <head>
    <title>Time To Answer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= alert %> <br> <%= notice %> <br>
    <%= "Welcome, #{(current_user.name).capitalize}!" if user_signed_in? %> <%= fa_icon 'code', class: "text-danger" %> <br><br><br>
    <%= yield %><br><br>
    <%= user_signed_in? ? (link_to 'Log out', destroy_user_session_path, method: :delete) : (link_to "Login", user_session_path) %>
  </body>
</html>
